@import 'reset.css';
body{
    display:flex; align-items: center; flex-direction:column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.clock{
    position: absolute;
    left:0;
}

.darkModeCon{
    position: absolute;
    right:0;
}
.darkModeCon .darkModeBtn{
    all:unset;
    cursor:pointer;
    color:white;

    width:50px; height:20px;
    background-color: black;
    /* border:1px black solid; */
    border-radius: 5px;
    text-align: center;
}

.darkModeCon .darkModeBtn:active{
    transform: scale(0.95);
}


.login{
    margin-top: 30vh;
    /* display:flex; align-items: center; flex-direction:column; */
}


.login .login__id, .login .login__pw{
    all:unset;
    border:1px solid #d6d6d6;
    border-radius: 6px;
    width:300px; height:30px;
    margin:10px 0;
}




.darkStyle{
    background-color: black;
    color:white;
}

.lightStyle{
    background-color: white !important;
    color:black !important;
}

.bgImg{
    position:absolute;
    width:100%;
    height:100%;
    z-index: -1;

}